.mod_wow_recruitment .class {
    position: relative;
    margin: 13px 0;
    background-color: #222;
    font-weight: bold;
    display: inline-block;
    min-width: 160px;
    padding-bottom: 4px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #666;
}

.mod_wow_recruitment .icon {
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -20px;
    top: -20px;
    padding-left: 45px;
}

.mod_wow_recruitment .name {
    text-shadow: 1px 1px #000;
}

.mod_wow_recruitment .spec {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    margin: 1px;
}

.mod_wow_recruitment .spec.disabled {
    opacity: 0.4;
}

.mod_wow_recruitment .specs {
    text-align: center;
    margin-top: 8px;
}

.mod_wow_recruitment .prio {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('images/priorities.png');
    top: -8px;
    right: -8px;
}

.mod_wow_recruitment .prio.low {
    background-position: 0 -16px;
}

.mod_wow_recruitment .prio.medium {
    background-position: 0 -32px;
}

.mod_wow_recruitment .prio.high {
    background-position: 0 0;
}

.mod_wow_recruitment .role {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('images/roles.png');
    bottom: -8px;
    right: -8px;
}

.mod_wow_recruitment .role.dd {
    background-position: 0 0;
}

.mod_wow_recruitment .role.heal {
    background-position: -16px 0;
}

.mod_wow_recruitment .role.tank {
    background-position: -32px 0;
}

.mod_wow_recruitment .deathknight .name {
    color: #C41F3B;
}

.mod_wow_recruitment .deathknight .icon {
    background-image: url('images/deathknight.png');
}

.mod_wow_recruitment .deathknight .blood {
    background-image: url('./images/deathknight_blood.png');
}

.mod_wow_recruitment .deathknight .frost {
    background-image: url('./images/deathknight_frost.png');
}

.mod_wow_recruitment .deathknight .unholy {
    background-image: url('./images/deathknight_unholy.png');
}

.mod_wow_recruitment .druid .name {
    color: #FF7D0A;
}

.mod_wow_recruitment .druid .icon {
    background-image: url('images/druid.png');
}

.mod_wow_recruitment .druid .balance {
    background-image: url('./images/druid_balance.png');
}

.mod_wow_recruitment .druid .restoration {
    background-image: url('./images/druid_restoration.png');
}

.mod_wow_recruitment .druid .feral {
    background-image: url('./images/druid_feral.png');
}

.mod_wow_recruitment .druid .guardian {
    background-image: url('./images/druid_guardian.png');
}

.mod_wow_recruitment .hunter .name {
    color: #ABD473;
}

.mod_wow_recruitment .hunter .icon {
    background-image: url('images/hunter.png');
}

.mod_wow_recruitment .hunter .beastmaster {
    background-image: url('./images/hunter_beastmaster.png');
}

.mod_wow_recruitment .hunter .marksmanship {
    background-image: url('./images/hunter_marksmanship.png');
}

.mod_wow_recruitment .hunter .survival {
    background-image: url('./images/hunter_survival.png');
}

.mod_wow_recruitment .mage .name {
    color: #69CCF0;
}

.mod_wow_recruitment .mage .icon {
    background-image: url('images/mage.png');
}

.mod_wow_recruitment .mage .arcane {
    background-image: url('./images/mage_arcane.png');
}

.mod_wow_recruitment .mage .fire {
    background-image: url('./images/mage_fire.png');
}

.mod_wow_recruitment .mage .frost {
    background-image: url('./images/mage_frost.png');
}

.mod_wow_recruitment .monk .name {
    color: #00FF96;
}

.mod_wow_recruitment .monk .icon {
    background-image: url('images/monk.png');
}

.mod_wow_recruitment .monk .brewmaster {
    background-image: url('./images/monk_brewmaster.png');
}

.mod_wow_recruitment .monk .Mistweaver {
    background-image: url('./images/monk_mistweaver.png');
}

.mod_wow_recruitment .monk .windwalker {
    background-image: url('./images/monk_windwalker.png');
}

.mod_wow_recruitment .paladin .name {
    color: #F58CBA;
}

.mod_wow_recruitment .paladin .icon {
    background-image: url('images/paladin.png');
}

.mod_wow_recruitment .paladin .holy {
    background-image: url('./images/paladin_holy.png');
}

.mod_wow_recruitment .paladin .protection {
    background-image: url('./images/paladin_protection.png');
}

.mod_wow_recruitment .paladin .retribution {
    background-image: url('./images/paladin_retribution.png');
}

.mod_wow_recruitment .priest .name {
    color: #FFFFFF;
}

.mod_wow_recruitment .priest .icon {
    background-image: url('images/priest.png');
}

.mod_wow_recruitment .priest .discipline {
    background-image: url('./images/priest_discipline.png');
}

.mod_wow_recruitment .priest .holy {
    background-image: url('./images/priest_holy.png');
}

.mod_wow_recruitment .priest .shadow {
    background-image: url('./images/priest_shadow.png');
}

.mod_wow_recruitment .rogue .name {
    color: #FFF569;
}

.mod_wow_recruitment .rogue .icon {
    background-image: url('images/rogue.png');
}

.mod_wow_recruitment .rogue .assassination {
    background-image: url('./images/rogue_assassination.png');
}

.mod_wow_recruitment .rogue .combat {
    background-image: url('./images/rogue_combat.png');
}

.mod_wow_recruitment .rogue .subtlety {
    background-image: url('./images/rogue_subtlety.png');
}

.mod_wow_recruitment .shaman .name {
    color: #0070DE;
}

.mod_wow_recruitment .shaman .icon {
    background-image: url('images/shaman.png');
}

.mod_wow_recruitment .shaman .elemental {
    background-image: url('./images/shaman_elemental.png');
}

.mod_wow_recruitment .shaman .enhancement {
    background-image: url('./images/shaman_enhancement.png');
}

.mod_wow_recruitment .shaman .restoration {
    background-image: url('./images/shaman_restoration.png');
}

.mod_wow_recruitment .warlock .name {
    color: #9482C9;
}

.mod_wow_recruitment .warlock .icon {
    background-image: url('images/warlock.png');
}

.mod_wow_recruitment .warlock .affliction {
    background-image: url('./images/warlock_affliction.png');
}

.mod_wow_recruitment .warlock .demonology {
    background-image: url('./images/warlock_demonology.png');
}

.mod_wow_recruitment .warlock .destruction {
    background-image: url('./images/warlock_destruction.png');
}

.mod_wow_recruitment .warrior .name {
    color: #C79C6E;
}

.mod_wow_recruitment .warrior .icon {
    background-image: url('images/warrior.png');
}

.mod_wow_recruitment .warrior .protection {
    background-image: url('./images/warrior_protection.png');
}

.mod_wow_recruitment .warrior .fury {
    background-image: url('./images/warrior_fury.png');
}

.mod_wow_recruitment .warrior .arms {
    background-image: url('./images/warrior_arms.png');
}